<a href="https://colab.research.google.com/github/kri-jac/world-food-waste-data/blob/main/FoodWasteProcessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [120]:
import pandas as pd
import re

url = "https://raw.githubusercontent.com/kri-jac/world-food-waste-data/main/FAOSTAT_data_12-11-2020.csv"
df = pd.read_csv(url)

In [121]:
df.head(5)

          Area  Item Code                Item  Year         Unit  Value
0  Afghanistan       2511  Wheat and products  2014  1000 tonnes    803
1  Afghanistan       2511  Wheat and products  2015  1000 tonnes    701
2  Afghanistan       2511  Wheat and products  2016  1000 tonnes    684
3  Afghanistan       2511  Wheat and products  2017  1000 tonnes    642
4  Afghanistan       2805   Rice and products  2014  1000 tonnes     36

In [122]:
df.replace({'China, Taiwan Province of': 'Taiwan'}, regex=True, inplace= True)
df.replace({r"\BIran": 'Iran'}, regex=True, inplace= True)
df.replace({"CÃ´te d'Ivoire": 'Ivory Coast'}, regex=True, inplace= True)
df.replace({'Russian Federation': 'Russia'}, regex=True, inplace= True)
df.replace({'Viet Nam': 'Vietnam'}, regex=True, inplace= True)
df.replace({'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom'}, regex=True, inplace= True)
df.replace({r"\BVenezuela": 'Venezuela'}, regex=True, inplace= True)
df.replace({"Democratic People's Republic of Korea": 'North Korea'}, regex=True, inplace= True)
df.replace({r"\BBolivia": 'Bolivia'}, regex=True, inplace= True)
df.replace({'Republic of Moldova': 'Moldova'}, regex=True, inplace= True)

df.replace({'Republic of Korea': 'South Korea'}, regex=True, inplace= True)

In [123]:
# Get names of indexes for which column Area == China
indexNames = df[ (df['Area'] == 'China') | (df['Area'] == 'China, Macao SAR') | (df['Area'] == 'China, Hong Kong SAR') ].index
# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)

In [124]:
df.replace({'China, mainland': 'China'}, regex=True, inplace= True)

In [125]:
from google.colab import drive
drive.mount('drive', force_remount= True)

Mounted at drive

In [126]:
df.to_csv('foodWasteNew.csv', index = False)
!cp foodWasteNew.csv "drive/My Drive/"

In [127]:
# create a new dataframe to store the values
dfWaste = pd.DataFrame(columns=['Country','Year','TotalWaste'])

In [128]:
# list all unique values for Area
unique = df.Area.unique()
uniqueYear = df.Year.unique()

In [129]:
# sum all the values for each country
for x in unique:
  for z in uniqueYear:
    y = df.loc[(df['Area'] == x) & (df['Year'] == z), 'Value'].sum()
    dfWaste = dfWaste.append({'Country': x, 'Year' : z, 'TotalWaste': y}, ignore_index=True)

In [130]:
dfFoodItems = pd.DataFrame(columns=['Food Item','Year','TotalWaste'])

In [131]:
uniqueItem = df.Item.unique()

In [132]:
for x in uniqueItem:
  for z in uniqueYear:
    y = df.loc[(df['Item'] == x) & (df['Year'] == z), 'Value'].sum()
    dfFoodItems = dfFoodItems.append({'Food Item': x, 'Year' : z, 'TotalWaste': y}, ignore_index=True)

In [133]:
dfWaste.to_csv('perYearCountryFoodWaste.csv', index = False)
!cp perYearCountryFoodWaste.csv "drive/My Drive/"

dfFoodItems.to_csv('perYearItemFoodWaste.csv', index = False)
!cp perYearItemFoodWaste.csv "drive/My Drive/"