<a href="https://colab.research.google.com/github/kri-jac/world-food-waste-data/blob/main/world_food_data_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd

url = "https://raw.githubusercontent.com/kri-jac/world-food-waste-data/main/world-food-waste-data.csv"
df = pd.read_csv(url)
df.head(5)

   geographicaream49   country region  ...  tag_datacollection    reference  url
0                100  Bulgaria    NaN  ...         FAO Sources  FAO Sources  NaN
1                100  Bulgaria    NaN  ...         FAO Sources  FAO Sources  NaN
2                104   Myanmar    NaN  ...         FAO Sources  FAO Sources  NaN
3                104   Myanmar    NaN  ...         FAO Sources  FAO Sources  NaN
4                104   Myanmar    NaN  ...         FAO Sources  FAO Sources  NaN

[5 rows x 22 columns]